{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Add Student (Many-to-Many){% endblock title %}

{% block content %}
<div class="container">
    <h1>Add New Student (Many-to-Many)</h1>
    
    <form method="post">
        {% csrf_token %}
        
        <div>
            <label>Name:</label>
            {{ form.name }}
        </div>
        <div>
            <label>Age:</label>
            {{ form.age }}
        </div>
        <div>
            <label>Addresses (select multiple):</label>
            {{ form.addresses }}
        </div>
        
        <button type="submit">Save</button>
        <a href="{% url 'student3_list' %}">Cancel</a>
    </form>
</div>
{% endblock content %}
